<html>
    <head>
        {% load static %}
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="{% static 'ghblog/wes.css' %}">
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="js/script.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <title>Life in Girls Senior High Schools in Ghana</title>
    </head>
    <body>
        <div class="container justify-content-center align-items-center full">
            <div class="row align-items-center justify-content-center mb-5 blog">
                <h1>GHSCHOOLLIFEBLOG</h1>
            </div>
            <div class="row align-items-center justify-content-center">
                <div class="col-lg- py-5 ">
                    <div class='container-fluid'>
                        <h1>Life in Some Girls Secondary School In Ghana</h1>
                        
                    </div>
                    <img src="{% static 'ghblog/shs1.jpg' %}"
                         class="clipimage img-responsive width_man my-sm-1">
                </img>
                <img src="{% static 'ghblog/shs2.jpg' %}"
                     class="clipimage img-responsive width_man my-sm-1">
            </img>
            <img src="{% static 'ghblog/shs3.jpg' %}"
                 class="clipimage img-responsive width_man my-sm-1">
        </img>
    </div>
</div>
<div class="row align-items-center justify-content-start text-left mx-5 my-5">
    <p>
        It can be a tough choice for some to select a secondary school to spend the nect three or four years
        of their lives in. For some too , having completed Secondary School ha imprinted memories in their
        minds and heart.
    </p>
    <p>
        <b>GHSCHOOLLIFEBLOG </b> is the perfect blog to learn about what it is like to be in some of the best
    senior
    high schools in Ghana. Read and learn about some of the best experiences shared by alumni's, gather more
    knowledge
    and insight about these schools in case you have to make a decision to attend or visit any of the
    schools
</p>
<p>
    All in head , start reading and entertain yourself as we bring you the best we can.
    Stay blessed, dear. Always remember to smile.
</p>
</div>

<div class="container-fluid goto">
    <div class="row">
        <div class="col-md-3 my-5">
            <img src="{% static 'ghblog/child1.jpg' %}"
                 class="nav-image"
                 height="35px"
                 width="35px">
        </img>
    </div>
    <div class="col-md-3 my-5">
        <a href="{% url 'ghblog:holychild' %}">Next: Life in Holy Child Senior High School</a>
    </div>
    <div class="col-md-3 my-5">
        <img src="{% static 'ghblog/child2.jpg' %}"
             class="nav-image"
             height="35px"
             width="35px">
    </img>
</div>
<div class="col-md-3 my-5">
    <a href="{% url 'ghblog:wesley' %}">Next: Life in Wesley Senior High School</a>
</div>
<div class="col-md-3 my-5">
    <img src="{% static 'ghblog/child2.jpg' %}"
         class="nav-image"
         height="35px"
         width="35px">
</img>
</div>
<div class="col-md-3 my-5">
    <a href="{% url 'ghblog:motown' %}">Next: Life in Motown Senior High School</a>
</div>
<div class="col-md-3 my-5">
    <img src="{% static 'ghblog/more.png' %}"
         class="nav-image"
         height="35px"
         width="35px">
</img>
</div>
<div class="col-md-3 my-5">
    <a href="{% url 'ghblog:more' %}">More</a>
</div>
</div>
</div>
</div>
</body>
</html>
