<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    
        <script type="text/javascript" src="js/script.js"></script>
        <link rel="stylesheet" href="./wes.css">
    
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    
        <title>Life in Girls Senior High Schools in Ghana</title>
    </head>
<body>
    <div class="container full">
        <div class="jumbotron homerow">
            <h1>Life in Achimota School</h1>

        </div>
        <p>
            She is the head of all the hosts, the school of whom we boast,
             she is the glory of the coast and her name is Achimota. Motown prides herself as one of the IS schools in the country, Ghana. With their black and white colors,
             they boast some of the best leaders and thinkers Ghana has ever produced.
        </p>
        <img src=" ./motown1.jpg">

        <p>How is life in the school like though? Here is the story of an unnamed person</p>
        <p>For me Motown was fun and stressful. Motown has some of the best facilities in any school in Ghana. 
            With fully well-equipped labs, smartly architecture on only a few of the large acres of land present in the school, the teaching and learning experience has been made very interactive.
             I was taught by devoted and friendly teachers. </p>

        <p>
            My best experience was when during the inter school games my crush placed his hand in mine,
             sending chills down my spine to the earth and through to my future
        </p>

        <p>Surely, the presence of mixed gender alone makes the school itself an entertaining experience itself,
             if you know what I mean. And oh my! The bon fire nights can be so crazy. </p>

             <img src=" ./motown2.jpg">
             <img src=" ./motown3.jpg">
             <img src=" ./motown4.png">

        <p>
            Achimota is one school that places huge emphasizes on decency, decorum and decency. School taught me how to eat with a fork and knife,
             taught me to never give up after failing several times and most of all that there are some really great friends one can make in life.
        </p>
        <p>
            My daily routine involved 
        </p>

        <p>
            One aspect I disliked was the wearing of sandals and 
            also the removal of Friday wears from the school dress code. 
        </p>
        
        <div>
			<a href="#">Reload</a>
            <a href="./index.html">Go to Home Page</a>

            <br>
            <a href="./holychild.html">Life in: Holy Child Senior High School</a>
            <br>
            <a href="./wesley.html">Life in: Wesley Girls Senior High School</a>
            <br>
                <a href="./motown.html">Next: Life in Achimota School</a>
            

		</div>
    </div>
    </div>
</body>
</html>